<html>
   <head>
      <title>Denis Test blog</title>
   </head>
   <body>
      <div>
         <h1><a href="/">Django Test Blog</a></h1>
      </div>

      <div>
         <p>published:04.09.2021, 21.08</p>
         <h2><a href="">My fisrt post</a></h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lectus lorem, lacinia in interdum et, vulputate in nulla. Duis leo neque, fringilla a velit id, vulputate dictum velit.</p>
      </div>

     <div>
         <p>published:04.09.2021, 21.12</p>
         <h2><a href="">My second post</a></h2>
         <p>Integer hendrerit, orci et dignissim placerat, orci nunc feugiat elit, at efficitur erat erat eget magna. Mauris scelerisque mollis lacus, non feugiat urna mollis in. Fusce in ligula mattis, consectetur urna posuere, tincidunt libero</p>
      </div>
    </body>
</html>
